const timeout = process.env.SLOWMO ? 30000 : 10000;
// here you need to put require statement for mobile devices

beforeAll(async () => {
    await page.goto(URL, {waitUntil: 'domcontentloaded'});
});

describe('Take screenshots', () => {
    //here goes your code ...
});